

<div class="modal fade" id="modalSimulation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modalHeader" style="background-color:#036681;padding: 1rem;">
                <div class="row">
                    <div class="col-xs-6 col-sm-7 col-md-10 col-lg-10">
                        <p id="TitleModal" class="subtitle bold white-color" style="margin-bottom: 0px;">Simulación del cálculo de Predial</p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2" style="float:right;">
                        <button type="button" style="color: white;" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <br />
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <i class="fas fa-calculator" style="font-size: 87px; color: #036681;"></i>
                    </div>
                </div>
                <br />
                <br />
                <div class="row" style="margin-left: 10px; margin-right: 10px;">
                    <div class="col-md-6">
                        <label id="SimulationCuenta"></label>
                    </div>
                    <div class="col-md-6">
                        <label id="SimulationValorCatastral"></label>
                    </div>

                    <div class="col-md-6">
                        <label id="SimulationContruccion"></label>
                    </div>
                    <div class="col-md-6">
                        <label id="SimulationTerreno"></label>
                    </div>
                </div>
                <hr />
                <div class="row" style="padding: 30px;">
                    <div class="col-md-6" style="text-align: center;">
                        <label id="SimulationLimpia" style="font-size: 18px;"></label>
                    </div>
                    <div class="col-md-6" style="text-align: center;">
                        <label id="SimulationPredial" style="font-size: 18px;"></label>
                    </div>
                </div>
                <hr />
                <br />
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <label style="font-size: 24px;">Formula Aplicada</label>
                        <p id="SimulationFromula"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-GFD" onclick="BeginDebtAyuntamiento(__AgreementIdFound)">Aceptar</button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>*@
            </div>
        </div>
    </div>
</div>