

<div class="modal fade" id="modalObservations" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modalHeader" style="background-color:#036681;padding: 1rem;">
                <div class="row">
                    <div class="col-xs-6 col-sm-7 col-md-10 col-lg-10">
                        <p id="TitleModal" class="subtitle bold white-color" style="margin-bottom: 0px;">Observaciones</p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2" style="float:right;">
                        <button type="button" style="color: white;" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="observationsWithAccount" name="observationsWithAccount" class="form-control form-control-sm"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-GFD" onclick="CreateOrderSaleWithAccount(document.getElementById('observationsWithAccount').value)">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>