


<div class="modal fade" id="modalDataTaxUser" role="dialog">
    <div class="modal-dialog width-modal-tax-user">
        <div class="modal-content">
            <div class="modalHeader" style="background-color:#036681;padding: 1rem;">
                <div class="row">
                    <div class="col-xs-6 col-sm-7 col-md-10 col-lg-10">
                        <p id="TitleModal" class="subtitle bold white-color" style="margin-bottom: 0px;"><i class="fas fa-address-card"></i> Datos del Cliente</p>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2" style="float:right;">
                        <button type="button" style="color: white;" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div id="divContentWizard">
                    <div class="card-body">
                        <div id="smartwizard">
                            <ul class="forms-wizard">
                                <li>
                                    <a href="#step-1">
                                        <em>1</em><span>Cliente</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <em>2</em><span>Dirección</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <em>3</em><span>Orden</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="form-wizard-content">
                                <div id="step-1">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label>Nombres:</label>
                                            <input type="hidden" id="idTaxUser" name="idTaxUser" />
                                            <input type="text" id="nameTaxUser" name="nameTaxUser" class="form-control form-control-sm" required />
                                        </div>
                                        <div class="col-md-4" style="margin-top: 30px;">
                                            <input type="checkbox" id="isProvider" name="isProvider" />
                                            <label>Es Proveedor:</label>
                                        </div>

                                        <div id="divContentRFC" class="col-md-10">
                                            <label>RFC:</label>
                                            <form id="FromRFCTaxUser" onsubmit="SearchByRFC(event, document.getElementById('rfcTaxUser').value)">
                                                <input type="text" class="form-control form-control-sm" id="rfcTaxUser" name="rfcTaxUser" maxlength="13"
                                                       onkeyup="this.value = this.value.toUpperCase();" oninput="validarCampo(this, 'resultadoRFC', 'RFC')" required />
                                                <pre id="resultadoRFC" style="padding-left: 7px;"></pre>
                                            </form>
                                        </div>
                                        <div id="divContentBtnSearchByRFC" class="col-md-2">
                                            <button type="submit" id="btnSearchByRFC" class="btn btn-GFD margin-top-btns" form="FromRFCTaxUser" style="width: 100%;">
                                                <i class="fas fa-search" title="Buscar por RFC"></i> Buscar
                                            </button>
                                        </div>

                                        <div class="col-md-6">
                                            <label>CURP:</label>
                                            <input type="text" class="form-control form-control-sm" id="curpTaxUser" name="curpTaxUser" maxlength="18"
                                                   onkeyup="this.value = this.value.toUpperCase();" oninput="validarCurp(this, 'resultadoCURP')" />
                                            <pre id="resultadoCURP" style="padding-left: 7px;"></pre>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Teléfono:</label>
                                            <form id="FormPhone">
                                                <input type="text" class="form-control form-control-sm" id="phoneTaxUser" name="phoneTaxUser" pattern="[0-9]{10}" maxlength="10" />
                                            </form>
                                        </div>

                                        <div class="col-md-12">
                                            <label>Correo:</label>
                                            <input type="email" class="form-control form-control-sm" id="emailTaxUser" name="emailTaxUser" />
                                        </div>
                                    </div>
                                </div>

                                <div id="step-2">
                                    <div class="row">
                                        <input type="hidden" id="idTaxAddress" name="idTaxAddress" />
                                        <div id="divContentState" class="col-md-12">
                                            <label>Estado:</label>
                                            <select class="form-control form-control-sm" id="stateId" name="stateId" onchange="SearchTownByIdState(this.value, 'townId')"></select>
                                        </div>

                                        <div id="divContentTown" class="col-md-12">
                                            <label>Municipio:</label>
                                            <select class="form-control form-control-sm" id="townId" name="townId" onchange="SearchSuburbByIdTown(this.value, 'suburbId');"></select>
                                        </div>

                                        <div id="divContentSuburb" class="col-md-12">
                                            <label>Colonia:</label>
                                            <select class="form-control form-control-sm" id="suburbId" name="suburbId"></select>
                                        </div>

                                        <div class="col-md-12">
                                            <label>Calle:</label>
                                            <input type="text" class="form-control form-control-sm" id="street" name="street" maxlength="150" required />
                                        </div>

                                        <div class="col-md-6">
                                            <label>Número Ext:</label>
                                            <input type="text" class="form-control form-control-sm" id="numExt" name="numExt" maxlength="50" />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Número Int:</label>
                                            <input type="text" class="form-control form-control-sm" id="numInt" name="numInt" maxlength="50" />
                                        </div>

                                        <div class="col-md-12">
                                            <label>Código Postal:</label>
                                            <input type="text" class="form-control form-control-sm" id="zip" name="zip" maxlength="5" required />
                                        </div>

                                        <div id="divContentObservations" class="col-md-12">
                                            <label>Observaciones:</label>
                                            <textarea type="text" class="form-control form-control-sm" id="observations" name="observations"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div id="step-3">
                                    <div class="no-results">
                                        <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                            <span class="swal2-success-line-tip"></span>
                                            <span class="swal2-success-line-long"></span>
                                            <div class="swal2-success-ring"></div>
                                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                        </div>
                                        <div class="results-subtitle mt-4">Correcto</div>
                                        <div class="results-title">Se obtuvieron los datos del cliente correctamente</div>
                                        <div class="mt-3 mb-3"></div>
                                        <div id="divContentBtnGenerarOrden" class="text-center">
                                            <button class="btn-shadow btn-wide btn btn-success btn-lg" onclick="CreateOrderSaleTaxUser()">Generar Orden</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="divider"></div>
                        <div class="clearfix">
                            <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Cancelar</button>
                            <button type="button" id="next-btn" class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-GFD">Siguiente <i class="fas fa-arrow-right"></i></button>
                            <button type="button" id="prev-btn" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-GFD"><i class="fas fa-arrow-left"></i> Anterior</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>*@
        </div>
    </div>
</div>


<script>
    var __url = window.location;
    var __btnNext = document.getElementById("next-btn");

    //PARA ESCONDER EL BOTÓN DE SIGUIENTE EN EL MODAL DE TAX USER, CUANDO YA ESTÉ EN LA PARTE DE GENERAR ORDEN
    window.addEventListener("hashchange", HideBtnNext);

    function HideBtnNext() {
        if (__url.hash == "#step-3") {
            __btnNext.style.display = "none";
        } else {
            __btnNext.style.display = "block";
        }
    }

    function SearchByRFC(event, rfc) {
        event.preventDefault();
        Block();
        axios.get('/Ordenes/SearchTaxUserByRFC/' + rfc).then(response => {
            UnBlock();
            var taxUser = new TaxUserVM(response.data);
            var taxAddresses = new TaxAddressVM(taxUser.taxAddresses[0]);
            console.log("Taxuser encontrado: ", taxUser);

            $("#divContentState").html(`<label>Estado:</label><input class="form-control form-control-sm" id="stateId" name="stateId"/>`);
            $("#divContentTown").html(`<label>Municipio:</label><input class="form-control form-control-sm" id="townId" name="townId"/>`);
            $("#divContentSuburb").html(`<label>Colonia:</label><input class="form-control form-control-sm" id="suburbId" name="suburbId"/>`);

            $("#nameTaxUser").val(taxUser.name);
            $("#rfcTaxUser").val(taxUser.rfc);
            $("#curpTaxUser").val(taxUser.curp);
            $("#phoneTaxUser").val(taxUser.phoneNumber);
            $("#emailTaxUser").val(taxUser.eMail);
            $("#street").val(taxAddresses.street);
            $("#numExt").val(taxAddresses.outdoor);
            $("#numInt").val(taxAddresses.indoor);
            $("#zip").val(taxAddresses.zip);
            $("#stateId").val(taxAddresses.state);
            $("#townId").val(taxAddresses.town);
            $("#suburbId").val(taxAddresses.suburb);

            Swal.fire({
                type: 'success',
                title: 'Encontrado',
                showConfirmButton: false,
                timer: 700
            });
        }).catch(error => {
            UnBlock();
            Swal.fire({
                type: 'info',
                title: 'Disculpa',
                text: 'No se encontró cliente con este rfc: ' + rfc,
                showConfirmButton: true,
            });
            //console.error(error.response.data);
        });
    }
</script>


