@model List<RegionVM>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-archive">
                </i>
            </div>
            <h1 class="style-main-title">
                Catálogo @ViewData["Title"]
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-GFD float-right" data-toggle="modal" data-target="#modalCreateEdit" onclick="openModalToCreate()">
            Agregar Nuevo
            <i class="fas fa-plus" title="Agregar Nuevo"></i>
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="Table" class="table table-hover table-striped table-bordered">
                    <thead class="style-theads">
                        <tr>
                            <th width="45%">Región</th>
                            <th width="45%">Precio</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>
                                        <a class="nav-link btn-flush" onclick="openModalToEdit(@item.Id)" data-toggle="modal" data-target="#modalCreateEdit"
                                           data-caret="false" style="margin: 0 auto;">
                                            <i class="fas fa-edit iconX" title="Editar"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <div class="modal fade" id="modalCreateEdit" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modalHeader color-header-modals-gfd">
                    <div class="row">
                        <div class="col-xs-6 col-sm-7 col-md-10 col-lg-10">
                            <p id="TitleModal" class="subtitle bold white-color" style="margin-bottom: 0px;"></p>
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2" style="float:right;">
                            <button type="button" style="color: white;" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="FormData" onsubmit="CreateEdit(event)">
                        <div class="row" id="ContentModal">
                            <div id="divId" class="col-md-6"></div>
                            <div class="col-md-6"></div>

                            <div class="col-md-6">
                                <label>Región:</label>
                                <input type="number" id="name" name="name" class="form-control" min="0"/>
                            </div>
                            <div class="col-md-6">
                                <label>Precio:</label>
                                <input type="number" id="price" name="price" class="form-control" min="0"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-GFD" form="FormData">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
<script>
    window.onload = function () {
        Block();
        setTimeout(() => {
            loadDataTable("Table");
            UnBlock();
        }, 1700)
    }

    function openModalToEdit(id) {
        Block();
        axios.get('/Regions/Get/' + id).then(response => {
            var data = response.data;
            $("#TitleModal").html("Modificar");
            $("#divId").html(`
                <label>Id:</label>
                <input id="id" name="id" class="form-control" readonly />
            `);
            $("#id").val(data.id);
            $("#name").val(data.name);
            $("#price").val(data.price);
            UnBlock();
        }).catch(error => {
            UnBlock();
        })
    }

    function openModalToCreate() {
        $("#TitleModal").html("Agregar");
        $("#divId").html("");
        $("#id").val("");
        $("#name").val("");
        $("#price").val("");
    }

    function CreateEdit(event) {
        event.preventDefault();
        Block();
        var form = document.querySelector("#FormData"),
            data = serialize(form);

        axios.post("/Regions/Post", data).then(response => {
            UnBlock();
            Swal.fire({
                title: "Bien",
                text: response.data,
                type: 'success',
                showConfirmButton: true,
            }).then(response => {
                $("#modalCreateEdit").hide();
                $(".modal-backdrop").hide();
                window.location.href = "/Regions/Get/0";
            });
        }).catch(error => {
            UnBlock();
        })
    }
</script>
}
