@{ 
    ViewData["Title"] = "Tipo Servicio";
}


<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <td>Descripción</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</div>

<a></a>

@section Scripts{ 
<script>

    window.onload = function () {
        getTypeServices();
    }

    function getTypeServices() {
        axios.get("/TypeServices/Get").then(response => {
            console.log("Data: ", response.data);
            response.data.forEach(x => {
                $("#tbody").append(`
                    <tr>
                        <td>${x.name}</td>
                        <td>${x.isActive ? 'Activo' : 'Inactivo'}</td>
                        <td>
                            <a class="nav-link btn-flush " onclick="" type="button" data-caret="false" style="margin: 0 auto;">
                                <i class="far fa-edit" title="Editar"></i>
                            </a>
                        </td>
                    </tr>
                `);
            });

        }).catch(error => {

        })
    }
</script>
}
