
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-mx">
<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Aug 2019 16:36:06 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="es">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SISCOM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="ArchitectUI HTML Bootstrap 4 Dashboard Template">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="~/assets/css/main.cba69814a806ecc7945a.css" rel="stylesheet">
    <link href="~/css/Loader.css" rel="stylesheet" />
    <style>
        .swal2-container {
            zoom: 0.77;
        }
    </style>
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" src="~/assets/scripts/main.cba69814a806ecc7945a.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @* BlockUI *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js" integrity="sha512-QSb5le+VXUEVEQbfljCv8vPnfSbVoBF/iE+c6MqDDqvmzqnr4KL04qdQMCm0fJvC3gCWMpoYhmvKBFqm1Z4c9A==" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/SerializerForm.js"></script>
    <script>
        function loaderBlock() {
            $.blockUI({ message: null });
            document.getElementById("loader").style.display = "block";
        }

        function loaderUnBlock() {
            document.getElementById("loader").style.display = "none";
            $.unblockUI();
        }

        function Login(event) {
            event.preventDefault();
            loaderBlock()
            var form = document.querySelector('#sign_in');
            var data = serialize(form);
            axios.post("/Login/login", data).then(response => {
                loaderUnBlock();
                if (response.status == 200) {
                    Swal.fire({
                        title: "Bien",
                        text: "Inicio de sesión exitosa",
                        type: 'success',
                        showConfirmButton: false,
                        timer: 1700,
                    }).then(response => {
                        
                        window.location.href = "/Home";
                    })
                }
                if (response.status == 500) {
                    Swal.fire({
                        title: "Disculpa",
                        text: "Ocurrió un problema, contacte al administrador",
                        type: 'error',
                        showConfirmButton: true,
                    })
                }

            }).catch(error => {
                loaderUnBlock();
                var e = error.response.data.error;
                Swal.fire({
                    title: "Disculpa",
                    text: e,
                    type: "error",
                    showConfirmButton: true,
                })
            })
        }
    </script>

    <div id="loader" class="sk-chase" style="display: none;">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</body>

<!-- Mirrored from demo.dashboardpack.com/architectui-html-pro/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Aug 2019 16:36:07 GMT -->
</html>
