#divgfdsiscom {
    cursor: pointer;
}

/*.logo-gfdsiscom {
    background-image: url(../img/Login/siscom-logo.png);
    background-repeat: no-repeat;   
}*/

.subtitle {
    font-size: 20px;
}

.style-theads {
    background-color: #074472;
    color: white;
}

.white-color{
    color: white;
}

td {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    font-size: 13px !important;
}

th{
    font-size: 14px;
    font-weight: 200 !important;
}

.margin-top-btns{
    margin-top: 30px !important;
}

.btn-GFD{
    background-color:#036681;
    color: white;
}

.btn-GFD:hover {
    background-color: #00b3ba;
    color: white;
}

.title-head {
    background-color: #036681;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 17px;
    text-transform: uppercase;
    font-size: 17px !important;
}

#resultadoRFC,
#resultadoINE,
#resultadoCURP {
    background-color: #c70000;
    color: white;
    font-weight: bold;
}

#resultadoRFC.ok,
#resultadoINE.ok,
#resultadoCURP.ok{
    background-color: #49bf7b;
}

.year-style {
    font-size: 17px;
    font-weight: 500;
}

.color-header {
    background-color: #074472 !important;
}

.color-white{
    color: white !important;
}

.background-white{
    background-color: white !important;
}

.style-main-title{
    font-weight: 100 !important;
}

.active-GFD {
    background-color: #074472;
    border-radius: 5px;
}

.active-GFD>a{
    color: white !important;
}

.active-GFD>a:hover{
    color: #343a40 !important;
}

.iconX {
    margin: 0 auto !important;
    font-size: 17px;
    color: #074472;
}

.disabled .iconX {
    color: #b7b7b7;
}

.fileinput-remove, .fileinput-upload, .kv-file-upload, .kv-file-zoom {
    display: none !important;
}

.style-btn-agregar-nuevo {
    font-size: 17px;
    font-weight: 100;
}

.btn-save-gral-agrement {
    margin-bottom: 17px;
    font-size: 17px;
}

.payment-order-results {
    margin-bottom: 0px;
    font-size: 20px;
    text-align: right;
}

.payment-order-results-total {
    margin-bottom: -9px;
    font-size: 27px;
    text-align: right;
    margin-top: -11px;
}

.width-modal-tax-user {
    max-width: 100%;
    width: 50%;
}

@media screen and (max-width: 1880px) {
    .step-1-div {
        margin-top: 57px;
    }
}

@media screen and (max-width: 576px) {
    .width-modal-tax-user {
        max-width: 100%;
        width: 93%;
    }
}

.disabled-tabs {
    color: #d5d5d5 !important;
}
