.subtitle {
    font-size: 20px;
}

.style-theads {
    background-color: #074472;
    color: white;
}

.white-color{
    color: white;
}

td {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    font-size: 13px !important;
}

th{
    font-size: 14px;
    font-weight: 200 !important;
}

.margin-top-btns{
    margin-top: 30px !important;
}

.btn-GFD{
    background-color:#036681;
    color: white;
}

.btn-GFD:hover {
    background-color: #00b3ba;
    color: white;
}

.title-head {
    background-color: #036681;
    color: white !important;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 17px;
    text-transform: uppercase;
    font-size: 17px !important;
}

#resultadoRFC,
#resultadoINE,
#resultadoCURP {
    background-color: #c70000;
    color: white;
    font-weight: bold;
}

#resultadoRFC.ok,
#resultadoINE.ok,
#resultadoCURP.ok{
    background-color: #49bf7b;
}

.year-style {
    font-size: 17px;
    font-weight: 500;
}

.color-header {
    background-color: #074472 !important;
}

.color-white{
    color: white !important;
}

.background-white{
    background-color: white !important;
}

.style-main-title{
    font-weight: 100 !important;
}

.active-GFD {
    background-color: #074472;
    border-radius: 5px;
}

.active-GFD>a{
    color: white !important;
}